.widget-shadow-preview {
  z-index: 1;
  display: block;
  grid-row: auto;
  grid-column: auto;
  margin: 2px;
  pointer-events: none;
  background: var(--shadow-color);
  border: 2px solid var(--shadow-border-color);
  border-radius: 6px
}
