.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
}

mat-card {
    box-sizing: border-box;
    width: 100%;
}

.thumb-item {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.thumb-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumb-item:hover {
    cursor: move;
}

.widget-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-bottom: 2rem;
    font-weight: 600;
    text-align: end;
    background-color: color-mix(in srgb, var(--mat-sys-surface), transparent 70%);
    border-bottom-right-radius: var(--mat-sys-corner-medium);
    border-bottom-left-radius: var(--mat-sys-corner-medium);
    backdrop-filter: blur(1px);
}

.invisible-dialog {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    // Target the inner container of the dialog
    .mat-mdc-dialog-container {
        opacity: 0 !important;
    }
}

.drag-handle:hover {
    cursor: move;
}