<div class="w-fit flex-col font-formula">
  @for (entry of timingDataMap(); track entry[0]) {
    <div class="d-flex" style="view-transition-class: drivers-group" [style.view-transition-name]="'driver-' + entry[1].RacingNumber">
       <div style="min-width: 24px;" class="d-flex flex-wrap align-content-center justify-content-center">
          @if (isMovingUp(entry[0])) {
            <mat-icon class="text-f1-green">keyboard_double_arrow_up</mat-icon>
          } @else {
            @if (isMovingDown(entry[0])) {
              <mat-icon class="text-f1-red">keyboard_double_arrow_down</mat-icon>
            } @else {
              <div>{{entry[1]?.Line}}</div>
            }
          }
       </div>
      <leaderboard-driver
        [driver]="driverList()?.Lines?.[entry[0]]"
        [timingData]="timingData()?.Lines?.[entry[0]]"
        [timingAppData]="timingAppData()?.Lines?.[entry[0]]"
        [hasBestTime]="bestLap()?.driverId === entry[0]"
        />
    </div>
  }
</div>
