@if(isAdmin()) {
    <sim-player class="font-formula" />
}

@if (selectedLayout(); as layout) {
    <div>
        <grid-container
            [gridRows]="layout.gridSize.gridRows"
            [gridColumns]="layout.gridSize.gridColumns"
            class="w-full">
            @for (item of displayWidgets(); track $index) {
                <div class="widget" [widgetContainer]= "{
                        position: item.position,
                        size: item.size
                    }"
                    [widgetIndex]="$index"
                >
                    <ng-container [ngComponentOutlet]="item.widgetView" />
                </div>
            }
        </grid-container>
    </div>
} @else {
    <weather-widget />
    <leaderboard [driverList]="driverList()"
        [timingData]="timingData()"
        [timingAppData]="timingAppData()"
        [bestLap]="bestLap()"
    />

}





