@if (syncLeftTime() > 0 || syncPassedTime() > 0) {
    <div class="syncing-overlay" data-nosnippet>
        <div class="sync-indicator-content d-flex gap-8 flex-col align-items-center">
            <div class="d-flex gap-8">
                <mat-icon>sync</mat-icon>
                <div>{{'syncing' | translate}} {{((syncLeftTime() > 0) ? syncLeftTime() / 1000 : syncPassedTime() / 1000) | number:'1.0-1'}} {{'time.s' | translate}}</div>
            </div>
            @if (syncLeftTime() > 0) {
                <div>{{'sync_smaller' | translate}}</div>
            }
        </div>
    </div>
}

@if(isAdmin() && useSimulator) {
    <sim-player class="font-formula" />
}

@if (userLayout(); as layout) {
    <div data-nosnippet>
        <grid-container #gridContainer
            [savedLayoutGrid]="layout.grid"
            [displayGrid]="isEditing()" class="w-full">
            @for (item of displayWidgets(); track $index) {
                <div class="widget"
                    [class]="(isEditing() && !item.pinned)?'draggable':''"
                    [class.pinned]="isEditing() && item.pinned"
                    [widgetContainer]= "{
                        position: item.position,
                        size: item.size
                    }"
                    [widgetIndex]="$index"
                    cdkDrag
                    [cdkDragDisabled]="!isEditing() || item.pinned"
                    [cdkDragStartDelay]="isMobile() ? 200 : 0"
                    (widgetViewChanged)="onWidgetViewChanged($event)"
                >
                    @if (isEditing() && !item.pinned) {
                        <div widgetResizeHandle class="resize-handle hideable_panel icon-container">
                            <mat-icon>south_east</mat-icon>
                        </div>
                    }
                    @if (isEditing()) {
                        <div class="widget-control-panel hideable_panel">
                            <div class="icon-container"
                                role="button"
                                tabindex="0"
                                (click)="onPinWidget($index)"
                                (keyup.enter)="onPinWidget($index)"
                                (keyup.space)="onPinWidget($index)">
                                <mat-icon>{{(!item.pinned) ? 'keep' : 'keep_off'}}</mat-icon>
                            </div>
                            <div class="icon-container"
                                role="button"
                                tabindex="0"
                                (click)="onWidgetSettings($index)"
                                (keyup.enter)="onWidgetSettings($index)"
                                (keyup.space)="onWidgetSettings($index)">
                                <mat-icon>settings</mat-icon>
                            </div>
                            <div class="icon-container"
                                role="button"
                                tabindex="0"
                                (click)="onDeleteWidget($index)"
                                (keyup.enter)="onDeleteWidget($index)"
                                (keyup.space)="onDeleteWidget($index)">
                                <mat-icon>delete</mat-icon>
                            </div>
                        </div>
                    }
                    <div [class.widget-preview-border]="isEditing()" class="h-full">
                        <ng-container [ngComponentOutlet]="item.widgetView" [ngComponentOutletInputs]="{settings: item.settings, editMode: isEditing()}"/>
                    </div>
                </div>
            }
        </grid-container>
        @if (isEditing()) {
            <tools-panel [(selectedLayout)]="userLayout"
                cdkDrag class="tools-panel"
                (widgetAdded)="onWidgetAdded($event)"
                [calculatedRows]="gridContainer.rows()()"
                [calculatedColumns]="gridContainer.columns()()"
            />
        }
    </div>

} @else {
    <div data-nosnippet class="grid-container">
        <div class="main-grid">
            <div id="leaderboard" class="overflow-x-auto default-widget-container">
                <leaderboard/>
            </div>
            <div id="right-panel" class="right-panel">
                <weather-widget id="weather" class="default-widget-container"/>
                <session-info-widget id="session-info" class="default-widget-container"/>
                <div class="default-widget-container">
                    <track-map-widget id="track-map"/>
                    <mat-expansion-panel
                        class="head-to-head-expanstion-panel" [expanded]="showHeadToHead()"
                            (opened)="onHeadToHeadOpened()"
                            (closed)="onHeadToHeadClosed()"
                        >
                        <mat-expansion-panel-header>
                            <mat-panel-title class="text-nowrap">{{'widget.head_to_head' | translate}}</mat-panel-title>
                            <mat-panel-description>
                                @if (showHeadToHead()) {
                                    <mat-form-field (click)="$event.stopPropagation()" class="form-field-5 f-s-14 p-y-4 head-to-head-form-field" appearance="outline" subscriptSizing="dynamic">
                                        <mat-label>{{ 'widget.display' | translate }}</mat-label>
                                        <mat-select class="f-s-14"
                                            [(value)]="headToHeadMode"
                                            >
                                            @for (mode of headToHeadModes; track mode) {
                                                <mat-option [value]="mode">{{ mode | translate }}</mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                }
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        @if (showHeadToHead()){
                            <head-to-head-widget id="head-to-head" [settings]="{mode: headToHeadMode()}"/>
                        }
                    </mat-expansion-panel>
                </div>
            </div>
            <div id="bottom-panel" class="bottom-panel overflow-x-auto">
                <race-control-messages-widget id="race-control-messages" class="default-widget-container"/>
                <team-radio-widget id="team-radio" class="default-widget-container"/>
            </div>
        </div>
    </div>

    @if (!isFullScreen()) {
        <app-footer class="d-block p-t-24"/>
    }
}







