.grid-container {
    container-type: inline-size;
}

.main-grid {
    display: grid;
    grid-template-areas: "leaderboard right-panel"
                         "bottom-panel bottom-panel";
    grid-template-columns: max-content 1fr;
    align-items: start;
    overflow-x: auto;
}

.right-panel {
    display: grid;
    grid-template-areas: "weather"
                         "session-info"
                         "track-map"
                         ;
    grid-template-columns: 1fr;
}

.bottom-panel {
    display: grid;
    grid-template-areas: "race-control-messages";
    grid-template-columns: 33%;
}

@container (width <= 1200px) {
    .main-grid {
        grid-template-areas:
        "weather"
        "session-info"
        "track-map"
        "leaderboard"
        "race-control-messages"
        ;
        grid-template-columns: 1fr;
    }

    #right-panel {
        display: contents;
    }

    #bottom-panel {
        display: contents;
    }
}

#right-panel {
    grid-area: right-panel;
}

#bottom-panel {
    grid-area: bottom-panel;
}

#leaderboard {
    grid-area: leaderboard;
}

#weather {
    grid-area: weather;
}

#session-info {
    grid-area: session-info;
}

#track-map {
    grid-area: track-map;
}

#race-control-messages {
    grid-area: race-control-messages;
}

.widget {
    position: relative;
    z-index: 2;
    container-type: size;
}

.widget.draggable {
    cursor: grab;
}

.widget.draggable:hover,
.widget:has(.resize-handle:active) {
    opacity: 0.8;
}

.widget.draggable:active {
    cursor: grabbing;
}

@function adjustable-size() {
    @return clamp(min(100cqh, 2rem), 60cqh, calc(var(--small-icons-size) * 2));
}

.icon-container {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.icon-container:hover,
.widget:has(.resize-handle:active) .icon-container {
    background-color: var(--mat-sys-primary-container);
}

.hideable_panel {
    position: absolute;
    display: grid;
    visibility: hidden;
    height: adjustable-size();
    container-type: size;
    pointer-events: none;
    background-color: var(--mat-sys-inverse-primary);
    opacity: 0;
    transition: opacity 1000ms ease;

    mat-icon {
        width: 50cqh !important;
        height: 50cqh !important;
        margin: auto;
        font-size: 50cqh !important;
    }
}

.widget-control-panel {
    top: 0;
    left: 0;
    z-index: 40;
    grid-auto-flow: column;
    aspect-ratio: 3/1;

    mat-icon {
        font-weight: 100;
    }
}

.resize-handle {
    right: 0;
    bottom: 0;
    z-index: 50;
    width: adjustable-size();
    cursor: nwse-resize;

    mat-icon {
        font-weight: 600;
    }
}

.widget:hover .hideable_panel,
.widget:has(.resize-handle:active) .hideable_panel {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.tools-panel {
    position: fixed;
    right: 1rem;
    bottom: calc(1rem + constant(safe-area-inset-bottom));
    bottom: calc(1rem + env(safe-area-inset-bottom));
    z-index: 100;
}

.pinned {
    z-index: 1;
}