@use "../../../styles/grid/breakpoints" as breakpoints;

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.big-x-padding {
    margin-right: 5rem;
    margin-left: 5rem;
}