.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 20px;
}

.x-padding {
    padding-right: clamp(1rem, 5vw, 5rem);
    padding-left: clamp(1rem, 5vw, 5rem);
}