:host {
    --table-gap: 0.5rem;
    --sticky-column-bg: color-mix(in srgb, var(--mat-sys-surface-container), transparent 5%);
}

.scroll-container {
    height: 100% !important;
    contain: content;
    overflow-y: auto;
    will-change: transform;
    overflow-anchor: none;
}

.scroll-wrapper {
    position: relative;
    height: 100%;
    min-height: 0;
}

.vertical-scroll-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(1.5rem + 7rem + 2*var(--table-gap));
    z-index: 10;
    visibility: hidden;
    width: 1px;
    pointer-events: none;
    background: var(--mat-divider-color);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.vertical-scroll-line.is-scrolled {
    visibility: visible;
    opacity: 1;
}

.transition-container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    will-change: transform;
}

.table-buttons {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
}


.leaderboard-laps-template-columns {
    grid-template-columns: 1.5rem 7rem 4rem 5.5rem 5rem 5.5rem 3rem auto;
}

.leaderboard-sectors-template-columns {
    grid-template-columns: 1.5rem 7rem 5rem 5.5rem 3rem 5rem 5rem 5rem;
}

.leaderboard-speeds-template-columns {
    grid-template-columns: 1.5rem 7rem 5rem 5.5rem 3rem 3.6rem 3.6rem 3.6rem 3.6rem;
}

.leaderboard-tyres-template-columns {
    grid-template-columns: 1.5rem 7rem 5.5rem minmax(25rem, 1fr);
}

.elimination-zone {
    background-color: rgba(80, 0, 0, 0.95) !important;
}

.position-number {
    display: flex;
    flex-wrap: wrap;
    place-content: center center;
}

.sticky-header-row {
    position: sticky;
    top: -1px;
    z-index: 5;
    display: grid;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    gap: inherit;
    align-items: stretch;
    height: 2rem;
    font-size: small;
    color: var(--second-color) !important;
    white-space: nowrap;
    background-color: color-mix(in srgb, var(--mat-sys-surface-container), transparent 20%);
    border-bottom: 1px solid var(--mat-divider-color);
    backdrop-filter: blur(2px);

    span {
        display: inline-flex;
        align-items: center;
    }
}

.main-grid {
    display: grid;
    gap: var(--table-gap);
    align-items: center;
}

.grid-item {
    background-color: var(--mat-sys-surface-container);
}
//1st column
.sticky-header-row > *:nth-child(1),
.grid-item > *:nth-child(1) {
  position: sticky;
  left: var(--table-gap);
  z-index: 3;
  background: var(--sticky-column-bg);
  box-shadow: calc(-1*var(--table-gap)) 0 0 0 var(--sticky-column-bg);
}

//2nd column
.sticky-header-row > *:nth-child(2),
.grid-item > *:nth-child(2) {
  position: sticky;
  left: calc(1.5rem + 2*var(--table-gap));
  z-index: 3;
  background: var(--sticky-column-bg);
  box-shadow: calc(-1*var(--table-gap)) 0 0 0 var(--sticky-column-bg);
}

.out-driver {
    opacity: 0.5;
}


