:host {
	fill: var(--inactive-color);
	transition: all 1s linear;

	&.no-transition {
		transition: none !important;
	}

	&.hidden {
		opacity: 0 !important;
	}

	&.opacity-30 {
		opacity: 0.3 !important;
	}
}

.driver-bg {
	fill: color-mix(in srgb, var(--mat-sys-surface), transparent 20%);
	stroke: transparent;
	stroke-width: 1px;
}

.favourite-bg {
	fill: color-mix(in srgb, var(--mat-sys-inverse-surface), transparent 10%) !important;
}

.driver-text {
	font-family: inherit;
	font-size: 280px;
	fill: var(--mat-sys-on-surface);
}

.favourite-text {
	font-size: 320px;
	font-weight: bold;
	fill: var(--mat-sys-inverse-on-surface) !important;
}

.favourite-team-color {
	fill: var(--team-color);
}