.scroll-container {
    height: 100% !important;
    contain: content;
    overflow: hidden auto;
    scrollbar-gutter: stable;
    will-change: transform;
    overflow-anchor: none;
}

.scroll-wrapper {
    position: relative;
    height: 100%;
    min-height: 0;
}

.main-grid {
    display: grid;
    gap: 0.5rem;
    align-items: center;
}

.transition-container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    will-change: transform;
}

.grid-item {
    padding: 1px 2px 1px 0;
    cursor: pointer;
    background-color: var(--mat-sys-surface-container);
    opacity: 0.8;
}

.position-number {
    display: flex;
    flex-wrap: wrap;
    place-content: center center;
}

.leaderboard-positions-template-columns {
    grid-template-columns: 1.5rem 1fr;
}

.selected-driver {
    background-color: var(--mat-sys-secondary-container);
    border: 0 solid transparent;
    border-radius: 0.25rem;
    opacity: 1;

}