<div class="h-full">
    @if(!editMode() && src()) {
    <iframe [src]="src()! | safeUrl"
        width="100%"
        height="100%"
        style="background-color: #000"
        frameborder="0"
        allow="
        encrypted-media">
    </iframe>
    } @else {
         <div class="h-full bg-color-inactive d-flex justify-content-center dynamic-header-size">
                <h1 class="d-flex align-items-center gap-8">
                    <mat-icon>video_camera_back</mat-icon>
                    {{'widget.video' | translate}}
                </h1>
        </div>
    }
</div>