@if (showHeader()) {
  <div class="matero-sidebar-header">
    <mat-toolbar>
      <app-branding [showName]="!toggleChecked()" />

      <span class="flex-fill"></span>

      @if (showToggle()) {
        <mat-slide-toggle hideIcon [checked]="toggleChecked()" (change)="toggleCollapsed.emit()" />
      } @else {
        <button mat-icon-button (click)="closeSidenav.emit()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-toolbar>
  </div>
}

<div class="matero-sidebar-main d-flex flex-col">
  @if (showUser()) {
    <app-user-panel />
  }
  <next-session-panel />

  <app-sidemenu />

  <div style="margin-top: auto">
    <mat-divider />
    <links-panel />
  </div>

</div>
