<div class="place-self-start">
        @if (qualifyingPart()) {
                <div class="f-s-14"
                [class.text-color-inactive]="!timingStat()?.PersonalBestLapTime?.Value"
                >
                        @for (value of [qualificationLapTime()]; track value) {
                                <span [class.value-update]="animateQualificationLap()">{{value || 'No Time'}}</span>
                        }
                </div>
        } @else {
                <p class="m-0 f-s-14"
                [class]="lastLapClass()">
                        {{lastLapValue()}}
                </p>
                <p class="m-0 f-s-12 line-height-1"
                [class]="personalBestClass()"
                >
                        {{personalBestValue()}}
                </p>
        }
</div>