.container {
    height: 100%;
    max-height: var(--default-list-height);
    contain: content;
    overflow-y: auto;
    scrollbar-gutter: stable;
    will-change: transform;
}

:host([data-containered]) .container {
    max-height: 100%;
}

.icon-container {
    position: relative;
    height: 100%;
    padding-top: 0.5rem;
}

.message-item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: start;
    contain-intrinsic-size: 50px;
    content-visibility: auto;
    background-color: transparent;
}

.icon-container::before {
    --image-size: 24px;
    --offset: calc(var(--image-size) + 0.5rem); // inclusive padding of icon container

    position: absolute;
    top: var(--offset);
    left: calc(var(--image-size) / 2);
    width: 1px;
    height: calc(100% - var(--offset));
    content: '';
    background-color: var(--inactive-color);
}