<div class="font-formula p-b-4"
  [class.default-widget-container]="container"
>
  <div class="container">
    <div class="sticky-list-header ">
      <div>{{'widget.RaceControlMessagesWidget' | translate}}</div>
      @if(!container) {
        <div class="slide-toggle-3">
          <mat-slide-toggle
            [checked]="showMessages()"
            (change)="showMessagesToggle($event.checked)" />
        </div>
      }
    </div>
    @if (showMessages()){
      <div class="p-x-8 p-b-8 d-grid gap-8 animated-first-element">
        @if(messages().length > 0) {
          @for (message of messages(); track message.id) {
              <div class="message-item">

                <div class="icon-container">
                  <mat-icon [style.color]="message.computedIconColor">{{ message.computedIcon }}</mat-icon>
                </div>
                <div>
                  <span class="f-s-12 line-height-1" matListItemTitle>{{ message.Message }}</span>
                  <div class="text-color-second d-flex align-items-center gap-4">
                    <mat-icon class="small-icon">av_timer</mat-icon>
                    <span class="f-s-10">{{ message.Utc | date:'HH:mm:ss' }}</span>
                  </div>
                </div>

              </div>
          }
        } @else {
          <div class="f-s-12 p-l-8 text-color-second">
            {{'widget.no_messages' | translate}}
          </div>
        }
      </div>
    }
  </div>
</div>
