@use "../grid/breakpoints";

:root {
  --small-icons-size: 18px;
  --shadow-color: rgba(21, 57, 56, 0.4);
  --shadow-border-color: #153938;
}

.line-height-1 {
  line-height: 1;
}

.place-self-start {
  place-self: start;
}

.place-self-end {
  place-self: end;
}


.dynamic-header-size {
  container-type: inline-size;

  h1 {
    font-size: clamp(14px, 10cqi, 100px) !important;

    mat-icon {
      width: 1em;
      height: 1em;
      font-size: 1em;
      vertical-align: middle;
    }
  }
}

.small-icon {
  width: var(--small-icons-size) !important;
  height: var(--small-icons-size) !important;
  font-size: var(--small-icons-size) !important;
}

.widget-preview-container {
  height: 100%;
  border: 3px solid var(--mat-sys-inverse-primary) !important;
  border-radius: 0.5rem !important;
}

.carousel-track {
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  white-space: nowrap;
}

.widget-preview_shadow {
  z-index: 1;
  display: block;
  grid-row: auto;
  grid-column: auto;
  margin: 2px;
  pointer-events: none;
  background: var(--shadow-color);
  border: 2px solid var(--shadow-border-color);
  border-radius: 6px
}

.default-widget-background {
    background-color: color-mix(in srgb, var(--mat-sys-surface-container), transparent 20%);
}




