@use '@angular/material' as mat;
@use "../grid/breakpoints";

:root {
  --small-icons-size: 18px;
}

.line-height-1 {
  line-height: 1;
}

.place-self-start {
  place-self: start;
}


.dynamic-font-container {
  container-type: inline-size;

  h1 {
    font-size: clamp(14px, 10cqi, 100px) !important;

    mat-icon {
      width: 1em;
      height: 1em;
      font-size: 1em;
      vertical-align: middle;
    }
  }
}

.custom-layouts-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 4px;
}


.small-button {
    @include mat.icon-button-density(-5);
}

.small-icon {
  width: var(--small-icons-size) !important;
  height: var(--small-icons-size) !important;
  font-size: var(--small-icons-size) !important;
  line-height: var(--small-icons-size) !important;
}

.widget-preview-container {
  height: 100%;
  outline: 2px solid var(--mat-sys-inverse-primary) !important;
  border-radius: 0.5rem 0.5rem 0 !important;
  box-shadow: 0 0 5px var(--mat-sys-on-secondary-container);
}


