.line-height-1 {
  line-height: 1;
}

.place-self-start {
  place-self: start;
}

.place-self-end {
  place-self: end;
}


.dynamic-header-size {
  container-type: inline-size;

  h1 {
    font-size: clamp(14px, 10cqi, 100px) !important;

    mat-icon {
      width: 1em;
      height: 1em;
      font-size: 1em;
      vertical-align: middle;
    }
  }
}

.small-icon {
  width: var(--small-icons-size) !important;
  height: var(--small-icons-size) !important;
  font-size: var(--small-icons-size) !important;
}

.widget-preview-border {
  border: 1px solid var(--mat-sys-inverse-primary) !important;
  border-radius: 0.5rem !important;
}


.carousel-track {
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  white-space: nowrap;
}

.widget-preview_shadow {
  z-index: 1;
  display: block;
  grid-row: auto;
  grid-column: auto;
  margin: 2px;
  pointer-events: none;
  background: var(--shadow-color);
  border: 2px solid var(--shadow-border-color);
  border-radius: 6px
}

.default-widget-container {
  width: calc(100% - var(--container-margin) * 2) !important;
  height: calc(100% - var(--container-margin) * 2) !important;
  margin: var(--container-margin) !important;
  background-color: color-mix(in srgb, var(--mat-sys-surface-container), transparent 20%);
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0.5rem !important;
}

.sticky-list-header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding-top: 1px;
    padding-left: 1rem;
    // fix iphone sticky 1px gap
    margin-top: -1px;
    margin-bottom: 1px;
    font-size: small;
    background-color: color-mix(in srgb, var(--mat-sys-surface-container), transparent 10%);
    border-radius: 0.5rem;
    backdrop-filter: blur(2px);
}

.sidebar-container {
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  outline: none;
  background-color: var(--user-panel-background-color);
  border-radius: 0.75rem;
}


/* Sync indicator overlay */
.sync-indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, var(--mat-sys-secondary-container), transparent 10%);

  > .sync-indicator-content {
    position: sticky;
    top: 50vh;
    transform: translateY(-50%);
  }
}



