@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Material_Icons_Rounded.woff2") format('woff2');
}

.material-icons {
  display: inline-block;
  font-family: 'Material Symbols Rounded', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: 'liga';
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  overflow-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Formula 1';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Formula1-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Formula 1';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Formula1-Bold.ttf") format('truetype');
}


@font-face {
  font-family: 'Formula 1 Wide';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Formula1-Wide.ttf") format('truetype');
}

.font-formula {
    font-family: 'Formula 1', sans-serif;
}

.font-formula-bold {
    font-family: 'Formula 1', sans-serif;
    font-weight: bold;
}

.font-formula-wide {
    font-family: 'Formula 1 Wide', sans-serif;
}