
@font-face {
  font-family: 'Formula 1';
  font-style: normal;
  font-weight: normal;
  src: url('../../../public/fonts/Formula1-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Formula 1';
  font-style: normal;
  font-weight: bold;
  src: url('../../../public/fonts/Formula1-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'Formula 1 Wide';
  font-style: normal;
  font-weight: bold;
  src: url('../../../public/fonts/Formula1-Wide.ttf') format('truetype');
}

.font-formula {
    font-family: 'Formula 1', sans-serif;
}

.font-formula-bold {
    font-family: 'Formula 1', sans-serif;
    font-weight: bold;
}

.font-formula-wide {
    font-family: 'Formula 1 Wide', sans-serif;
}