@use '@angular/material' as mat;
@use '../grid/breakpoints';

/** Custom Material styles */
// material variables
:root {
  --mat-divider-color: var(--mat-sys-outline-variant);
  --mat-sys-title-large-font: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  --mat-checkbox-touch-target-size: 40px;
  @include breakpoints.bp-lt(small) {
    --mat-dialog-content-padding: 1rem 0.5rem !important;
  }
}

mat-card {
  margin-bottom: var(--gutter);
}

mat-card-header + mat-card-content {
  margin-top: var(--gutter);
}

.form-field-full {
  .mat-mdc-form-field {
    width: 100%;
  }
}

.icon-button-5 {
    @include mat.icon-button-density(-5);
}

.form-field-5 {
  @include mat.form-field-density(-5);
}

.bordered-dialog .mat-mdc-dialog-container .mdc-dialog__surface{
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-medium);
}

.transparent-backdrop-dialog {
    opacity: 1 !important;
}

.mat-mdc-tab-group .mat-mdc-tab-body-wrapper {
  margin-top: 0.5rem;
}

.mat-toolbar-single-row {
  @include breakpoints.bp-lt(small) {
      padding: 0 0.3rem !important;
  }
}
