/** Custom Material styles */

mat-card {
  margin-bottom: var(--gutter);
}

mat-card-header + mat-card-content {
  margin-top: var(--gutter);
}

.form-field-full {
  .mat-mdc-form-field {
    width: 100%;
  }
}
// material variables
:root {
  --mat-divider-color: var(--mat-sys-outline-variant);
  --mat-sys-title-large-font: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
}

.mat-icon {
  font-family: 'Material Symbols Rounded', sans-serif !important;
}

.bordered-dialog .mat-mdc-dialog-container .mdc-dialog__surface{
  border: 1px solid var(--mat-sys-outline-variant);
}

.transparent-backdrop-dialog {
    opacity: 1 !important;
}

