<div >
    <grid-container
        [gridRows]="selectedLayout().gridSize.gridRows"
        [gridColumns]="selectedLayout().gridSize.gridColumns"
        [displayGrid]="true" class="w-full">
        @for (item of displayWidgets(); track $index) {
            <div class="widget" [class]="(item.draggable)?'draggable':''" [widgetContainer]= "{
                    position: item.position,
                    size: item.size
                }"
                [widgetId]="$index+''"
                cdkDrag
                [cdkDragDisabled]="!item.draggable"
            >
                <ng-container [ngComponentOutlet]="item.el"></ng-container>
            </div>
        }
    </grid-container>
</div>



