
.widget {
    position: relative;
    container-type: size;
    opacity: 0.8;
}

.widget.draggable {
    cursor: grab;
}

.widget.draggable:hover,
.widget:has(.resize-handle:active) {
    opacity: 0.6;
}

.widget.draggable:active {
    cursor: grabbing;
}

.resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index:50;
    display: none;
    width: clamp(min(100cqh, 1.5rem), 50cqh, calc(var(--small-icons-size) * 2));
    height: clamp(min(100cqh, 1.5rem), 50cqh, calc(var(--small-icons-size) * 2));
    container-type: size;
    cursor: nwse-resize;
    background-color: var(--mat-sys-inverse-primary);

    mat-icon {
        width: 50cqh !important;
        height: 50cqh !important;
        margin: auto;
        font-size: 50cqh !important;
        font-weight: 600;
    }
}

.widget:hover .resize-handle {
    display: grid;
}

.resize-handle:active{
    display: grid;
}

.tools-panel {
    position: absolute;
    top: calc(100vh - 10rem);
    right: 1rem;
    z-index: 100;
}

