<div >
    <grid-container
        [gridRows]="selectedLayout().gridSize.gridRows"
        [gridColumns]="selectedLayout().gridSize.gridColumns"
        [displayGrid]="true" class="w-full">
        @for (item of displayWidgets(); track $index) {
            <div class="widget" [class]="(item.draggable)?'draggable':''" [widgetContainer]= "{
                    position: item.position,
                    size: item.size
                }"
                [widgetIndex]="$index"
                cdkDrag
                [cdkDragDisabled]="!item.draggable"
                (widgetViewChanged)="onUpdateWidgetView($event)"
            >
                @if (item.resizable) {
                    <div widgetResizeHandle class="resize-handle">
                        <mat-icon class="small-icon">south_east</mat-icon>
                    </div>
                }
                <ng-container [ngComponentOutlet]="item.el" />
            </div>
        }
    </grid-container>
</div>



