@use "../../../../../styles/custom/functions" as functions;

.carousel-container {
  width: 100%;
  height: 100%;
}

@function min-responsive($r) {
    @return functions.min-responsive($r, var(--default-height), var(--dynamic-height));
}

.carousel-item {
  gap: 0.25rem;
  align-items: center;

  div {
    --r: 0.04;

    gap: min-responsive(var(--r));
  }
}

.weather-icon {
  --r: 0.4;

  width: min-responsive(var(--r));
  height: min-responsive(var(--r));
  font-size: min-responsive(var(--r));
}

.value {
  --r: 0.32;

  margin: 0;
  font-size: min-responsive(var(--r));
  line-height: 1;
}

.subline {
  --r: 0.24;

  margin: 0;
  font-size: min-responsive(var(--r));
  line-height: 1;
  color: var(--mat-sys-outline);
}

.hidden {
  display: none !important;
}
