.grid-wrapper {
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), var(--cell-size));
    grid-template-columns: repeat(var(--grid-columns), var(--cell-size));
    place-content: center;
    width: 100%;
    height: calc(var(--cell-size) * var(--grid-rows));
}

.grid-container.full-screen {
    height: 100dvh;
}

.grid-container.portrait {
    align-content: start;
}

.background-grid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay-grid {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.grid-cell {
    border: 1px solid var(--mat-sys-outline-variant);
}