<div class="font-formula p-b-4"
  [class.default-widget-container]="container"
>
  <div class="container">
    <div class="sticky-list-header">
      <div>{{'widget.TeamRadioWidget' | translate}}</div>
      @if(!container) {
        <div class="slide-toggle-3">
          <mat-slide-toggle
            [checked]="showRadio()"
            (change)="showRadioToggle($event.checked)" />
        </div>
      }
    </div>
    @if (showRadio()){
      <div class="p-x-8 p-b-8 d-grid gap-8 animated-first-element">
      @if (captures().length > 0) {
        @for (capture of captures(); track capture.id) {
            <div class="capture-item">
              <div class="d-flex w-full justify-content-between">
                @if (driverList()?.Lines?.[capture.RacingNumber]; as driver) {
                  <simple-driver-card [driver]="driver"/>
                }
                <div class="text-color-second d-flex align-items-center gap-4 text-nowrap">
                  <mat-icon class="small-icon">av_timer</mat-icon>
                  <span class="f-s-10">{{ capture.Utc | date:'short' }}</span>
                </div>
              </div>
              <div class="w-full">
                <audio controls [src]="capture.src" class="w-full">
                  Your browser does not support the audio element.
                </audio>
              </div>
            </div>
        }
      } @else {
        <div class="f-s-12 p-l-8 text-color-second">
          {{'widget.no_team_radio' | translate}}
        </div>
      }
      </div>
    }
  </div>
</div>
