<mat-toolbar>
  @if (showToggle()) {
    <button matIconButton (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
  }

  @if (showBranding()) {
    <app-branding />
  }

  @if (router.url.includes('dashboard')) {
    <app-layout-buttons class="p-l-4"/>
  }

  <span class="flex-fill"></span>

  <app-translate />

  @if (fullScreenService.isFullScreenEnabled()) {
    <button matIconButton class="hide-small" (click)="toggleFullscreen()">
      <mat-icon>fullscreen</mat-icon>
    </button>
  }

  @if (authService.check()) {
    <app-user />
  } @else {
    <button matIconButton routerLink="/auth/login">
      <mat-icon>login</mat-icon>
    </button>
  }


</mat-toolbar>
