<mat-card>
    <mat-card-content class="d-grid gap-16">

        <mat-form-field class="form-field-5" appearance="outline" subscriptSizing="dynamic">
            <mat-label>{{'layout.layout' | translate}}</mat-label>
            <input matInput
                placeholder="{{'layout.layout_name' | translate}}"
                type="text"
                (mousedown)="$event.stopPropagation()"
                debounceTime="1000"
                [debouncedValue]="layoutName()"
                (debouncedValueChange)="updateLayoutName($event)"
                [matAutocomplete]="auto"
                #trigger="matAutocompleteTrigger"
                [matAutocompleteDisabled]="true"
                />
                <button matSuffix matIconButton
                    (click)="$event.stopPropagation();
                    trigger.panelOpen ? trigger.closePanel() : trigger.openPanel()"
                    type="button">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="onSelectLayout($event.option.value)"
                    [displayWith]="displayLayout"
                    >
                    <mat-option [class.mdc-list-item--disabled]="false" disabled
                        class="static-container-option text-color-primary"
                        (click)="onCreateLayout(); trigger.closePanel()">
                            <mat-icon>dashboard_customize</mat-icon>
                            <span>{{ 'layout.create_layout' | translate }}</span>
                    </mat-option>
                    <mat-option disabled>
                        {{'layout.my_layouts' | translate}}
                    </mat-option>
                    @for(layout of layouts(); track layout.id) {
                        <mat-option [value]="layout" class="w-full custom-autocomplete-panel"
                            [class.mdc-list-item--selected]="layout.id === selectedLayout().id"
                        >
                            <span>{{layout.layoutName}}</span>
                            <div class="icon-button-5">
                                <button matIconButton (click)="onDeleteLayout(layout.id); $event.stopPropagation();">
                                    <mat-icon class="small-icon m-0">delete</mat-icon>
                                </button>
                            </div>
                        </mat-option>
                    }
                </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="form-field-5" appearance="outline" subscriptSizing="dynamic">
            <mat-label>{{ 'layout.grid' | translate }}</mat-label>
            <mat-select [disabled]="selectedLayout().widgets.length > 0"
                [value]="selectedLayout().gridSize"
                (selectionChange)="updateLayoutGrid($event.value)"
                [compareWith]="compareGridSizes"
                >
              @for (layoutGrid of layoutGridSizes; track layoutGrid) {
                <mat-option [value]="layoutGrid.value">{{ layoutGrid.label | translate }}</mat-option>
              }
            </mat-select>
        </mat-form-field>

        <button matButton (click)="openSelectWidgetDialog()">
            <mat-icon>add</mat-icon>
            {{'layout.add_widget' | translate}}
        </button>


    </mat-card-content>
</mat-card>