@use "../../../../../styles/custom/mixins" as mixins;
@use '../../../../../styles/grid/breakpoints' as breakpoints;

.chip {
    --icon-size: 1rem;

    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.6rem;
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: 0.5rem;

    mat-icon {
        width: var(--icon-size) !important;
        height: var(--icon-size) !important;
        margin-right: 0.25rem;
        font-size: var(--icon-size);
    }
}

.session-info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0.5rem 0 0.5rem 1rem;
    container-type: scroll-state;
    overflow: auto hidden;
}

.session-info-container::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.5rem;
    //draw vertical line on the left of the container
    content: '';
    background-color: var(--status-color);
}

.track-status {
    font-size: 0.875em;
}

.meeting-name {
    font-size: 1em;
}

.flag {
    width: 48px;
    height: 36px;
    color: transparent;
}

.bottom-chip-container {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.q-items-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    width: stretch;
    padding-top: 0.5rem;
}

.q-item {
    width: 33.33%;
    height: 0.5rem;
    background-color: var(--inactive-color);
    border-radius: 0.25rem;
}

.q-active {
    background-color: var(--mat-sys-primary);
}

.q-past {
    @include mixins.chequered-background(0.5rem, #fff, #545454);
}


@include breakpoints.container-lt(small) {
    .track-status {
        font-size: 0.75em;
    }

    .meeting-name {
        font-size: 0.875em;
    }
}

@include breakpoints.bp-lt(small) {
    .track-status {
        font-size: 0.75em;
    }

    .meeting-name {
        font-size: 0.875em;
    }
}
